<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Терминал</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
          <li class="breadcrumb-item"><a routerLink="/terminals">Терминалы</a></li>
          <li class="breadcrumb-item active">{{ terminal.Name }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-4">
        <div class="card">
          <div class="card-header ui-sortable-handle">
            <h3 class="card-title">Параметры</h3>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                  <a class="nav-link active click" (click)="save()" data-toggle="tab">Сохранить</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <label class="row">
              Название
              <input class="form-control" type="text" [(ngModel)]="terminal.Name">
            </label>
            <label class="row">
              Местоположение
              <input class="form-control" type="text" [(ngModel)]="terminal.Location">
            </label>
            <label class="row">
              Группа
              <select [(ngModel)]="terminal.GroupID" class="form-control">
                <option *ngFor="let c of groups" [ngValue]="c.ID">{{c.Name}}</option>
              </select>
            </label>
            <label class="row">
              MAC
              <input class="form-control" type="text" readonly [(ngModel)]="terminal.MacID">
            </label>
          </div>
        </div>
      </div>

      <div class="col col-lg-8">
        <div class="card">
          <div class="card-header ui-sortable-handle">
            <h3 class="card-title">Сведения</h3>
            <div class="card-tools">

            </div>
          </div>
          <div class="card-body">
            <h5>Финансы</h5>
            <p>
              Общий баланс: <b>{{ finance.numberWithCommas(finance.sum) }}</b>
            </p>
            <h6>Детализация</h6>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let n of finance.nominals">
                    {{ finance.numberWithCommas(n.n) }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let n of finance.nominals">
                    {{ finance.numberWithCommas(n.c) }}
                  </td>
                </tr>
                <tr>
                  <th *ngFor="let n of finance.nominals">
                    {{ finance.numberWithCommas(n.c * n.n) }}
                  </th>
                </tr>
              </tbody>
            </table>
            <hr>
            <h5>Ресурсы</h5>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</section>
